Repository ehsansh84/base_images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pgbackup, mongobackup

.gitlab-ci.yml:

stages:
  - build:pgbackup
  - build:mongobackup
pgbackup:
  stage: build:pgbackup
  image:
    name: registry.greenwebplus.com/public/docker-yq-git:1
  before_script:
    - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" $REGISTRY
  script:
    - docker build -t registry.greenwebplus.com/admin-kubernetes/postgresbackup:latest -f DockerfilePostgresql .
    - docker push $IMAGE_NAME
  rules:
    - changes:
      - DockerfilePostgresql
mongobackup:
  stage: build:mongobackup
  image:
    name: registry.greenwebplus.com/public/docker-yq-git:1
  before_script:
    - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASSWORD" $REGISTRY
  script:
    - docker build -t registry.greenwebplus.com/admin-kubernetes/mongodbbackup:latest -f DockerfileMongo .
    - docker push $IMAGE_NAME
  rules:
    - changes:
      - DockerfileMongo

removed: test
  TEST
Due: none

removed: unused script file
  DockerfilePostgresql
Due: pgbackup

fixed: bug in image name
  .gitlab-ci.yml
Due: none

updated: base image to mongo
  DockerfileMongo
Due: mongobackup

updated: upgrade added
  DockerfileMongo
Due: mongobackup

added: latest curl
  DockerfileMongo
Due: mongobackup

added: build curl
  DockerfileMongo
  build-curl/DockerfileGCC
  build-curl/build.sh
  build-curl/curl-7.85.0.tar.gz
Due: mongobackup

updated: image name
  build-curl/build.sh
Due: none

removed: unused code
  DockerfileMongo
Due: mongobackup

added: build curl
  .gitlab-ci.yml
Due: none

updated: wget istead of copy
  build-curl/DockerfileGCC
Due: none

updated: wget istead of copy
  .gitlab-ci.yml
Due: none

updated: change order
  .gitlab-ci.yml
Due: none

added: DockerfilePythonHelmKubectl
  .gitlab-ci.yml
  DockerfilePythonHelmKubectl
Due: none

added: DockerfilePythonHelmKubectl
  .gitlab-ci.yml
Due: none

updated: order
  .gitlab-ci.yml
Due: none

updated: order
  DockerfilePythonHelmKubectl
Due: none

added: mysql-client
  DockerfilePythonHelmKubectl
Due: none

added: mysql-client
  .gitlab-ci.yml
  dbman/DockerfilePythonHelmKubectl
  dbman/requirements.txt
Due: none

added: mysql-client
  dbman/DockerfilePythonHelmKubectl
Due: none

added: DockerfileNewman
  DockerfileNewman
Due: none

added: ci
  .github/workflows/main.yml
Due: none

added: test ci
  DockerfileNewman
Due: none

added: test ci
  .github/workflows/main.yml
Due: none

added: test ci
  .github/workflows/main.yml
  DockerfileNewman
Due: none

updated: renamed
  .github/workflows/newman.yml
Due: none

updated: test ci
  DockerfileNewman
Due: none

updated: test ci
  .github/workflows/postgres-client.yml
Due: none

added: DockerfilePostgresql
  DockerfilePostgresql
Due: pgbackup
